{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="header--form-page">
    {% include 'login_part2.html' %}
<!--    <nav class="container container&#45;&#45;70">-->
<!--        <ul class="nav&#45;&#45;actions">-->
<!--            <li class="logged-user">-->
<!--                Witaj Agata-->
<!--                <ul class="dropdown">-->
<!--                    <li><a href="#">Profil</a></li>-->
<!--                    <li><a href="#">Moje zbiórki</a></li>-->
<!--                    <li><a href="#">Wyloguj</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <ul>-->
<!--            <li><a href="/" class="btn btn&#45;&#45;without-border active">Start</a></li>-->
<!--            <li><a href="/#steps" class="btn btn&#45;&#45;without-border">O co chodzi?</a></li>-->
<!--            <li><a href="/#about-us" class="btn btn&#45;&#45;without-border">O nas</a></li>-->
<!--            <li><a href="/#help" class="btn btn&#45;&#45;without-border">Fundacje i organizacje</a></li>-->
<!--            <li><a href="/#contact" class="btn btn&#45;&#45;without-border">Kontakt</a></li>-->
<!--        </ul>-->
<!--    </nav>-->

    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
        </h2>
    </div>
</header>


<script src="js/app.js"></script>

{% endblock %}